.messageprivate__ptag1color {
  margin-bottom: 0.5rem;
  color: rgb(68, 68, 68);
  background-color: rgb(215, 215, 216);
  padding: 0.6rem;
  font-weight: 400;
  font-family: sans-serif;
  min-width: 8rem;
  border-radius: 5px;
  margin-right: 1rem;
}
.messageprivate__ptag2color {
  margin-bottom: 0.5rem;
  color: rgb(41, 41, 41);
  padding: 0.6rem;
  font-weight: 400;
  font-family: sans-serif;
  min-width: 8rem;
  border-radius: 5px;
  background-color: #addce8;
  margin-right: 1rem;
}
.messageprivate > .MuiAvatar-root {
  width: 2.1rem;
  height: 2.1rem;
}
.messageprivate {
  display: flex;
  width: 90%;
  margin-left: 1rem;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  margin-top: 0.7rem;
}
.messageprivate2 {
  display: flex;
  width: 90%;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-top: 0.7rem;
  margin-left: 1rem;
}
.messageprivate__time1 {
  color: gray;
  position: absolute;
  right: -6%;
}
.messageprivate__time2 {
  color: gray;
  position: absolute;
  right: -6%;
}
