.sidebarleft {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 34, 36);
  height: 100%;
}
.sidebarleft > .MuiAvatar-root {
  margin-bottom: 0.5rem;
}
.sidebarleft > img {
  height: 25px;
  object-fit: contain;
  margin-bottom: 1rem;
}
