.sidebarleft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 34, 36);
  height: 100%;
}
.sidebarleft > .MuiAvatar-root {
  margin-bottom: 0.5rem;
}
.sidebarleft > img {
  height: 20px;
  object-fit: contain;
  margin-bottom: 1rem;
}
