.userdisconected {
  padding: 0.3rem;
  display: flex;
  align-items: center;
  position: relative;
}
.userdisconected > .MuiAvatar-root {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
  cursor: pointer;
}
.userdisconected > .MuiSvgIcon-root {
  position: absolute;
  left: 14%;
  top: 55%;
  color: rgb(154, 155, 154);
  width: 1rem;
  height: 1rem;
  background-color: rgb(49, 50, 51);
  border-radius: 20px;
}
.userdisconected__modal {
  width: 600px;
  height: 450px;
  background-color: lightgray;
  border-radius: 4px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}
.userdisconected__chatcontainer {
  display: flex;
  justify-content: space-between;
  flex: 1;
}
.userdisconected__userinfoinput {
  display: flex;
  align-items: center;
}
.userdisconected__userinfoinput > input {
  flex: 1;
  padding: 0.4rem;
  border: none;
  border-radius: 4px;
  color: gray;
  outline: none;
  margin-right: 2rem;
}
.userdisconected__userinfoinput > .MuiAvatar-root {
  margin-right: 2rem;
}
.userdisconected__userinfoinput > button {
  border: none;
  padding: 0.4rem;
  outline: none;
  background-color: rgb(69, 129, 69);
  color: rgb(224, 224, 224);
  border-radius: 4px;
  cursor: pointer;
}
.userdisconected__userinfoinput > button:hover {
  transition: all 0.3s;
  background-color: rgb(48, 107, 48);
  color: white;
}
.userdisconected__chat {
  border: 1px solid rgb(151, 151, 151);
  border-radius: 5px;
  width: 540px;
  padding: 0.4rem;
  margin: 0.5rem;
  color: rgb(48, 47, 47);
  background-color: rgb(238, 237, 237);
  overflow-y: scroll;
  overflow-x: hidden;
  height: 300px;
  word-break: break-all;
  word-wrap: break-word;
}
.userdisconected__modal > h2 {
  color: rgb(70, 70, 70);
}
.loading {
  font-size: 1rem;
  color: rgb(8, 95, 8);
  font-weight: 600;
}
.noloading {
  display: none;
}
.loading:after {
  content: "....";
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis-dot 2.2s infinite 0.7s;
  animation-fill-mode: fowards;
  width: 1.25em;
}

@keyframes ellipsis-dot {
  20% {
    content: "";
  }

  40% {
    content: ".";
  }

  60% {
    content: "..";
  }

  80% {
    content: "...";
  }
  100% {
    content: "....";
  }
}
